header{
    font-size: small;
}
body {
    font-family: sans-serif;
    font-weight: 500;
    margin: 10px 20px;
}



input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
    color: red;
    outline-color: red;
 } /* Rote Umfärbung der Eingabeleisten, bei fehlerhafter Eingabe. */




input[type=submit]:hover {
    background-color: green;
    color: white;
}
.Hinweis{
	border: 1px solid #ccc;
    font-size: 10px;
	color: red;
	margin-left:5px;
}
.portion{
	border: 1px solid #ccc;
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    padding: 15px;
    width: 10%; /* fallback */
}
.category{
	float: none;
      text-align: left;
      width: 10%;
      margin: 0;
      padding: 14px;
}
.content{
	border: 1px solid #ccc;
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    padding: 15px;
    width: 90%; /* fallback */
    width: calc(100% - 30px); /* full width minus padding */
}
.rezinput{
	border: 1px solid #ccc;
    font-size: 22px; /* fallback */
    font-size: var(--mobile-font-size);
    padding: 15px;
    width: 90%; /* fallback */
    width: calc(100% - 30px); /* full width minus padding */
}
.newrezept{
	float: none;
      text-align: left;
      width: 20%;
      margin: 0;
      padding: 14px;
}

span+ span{
	margin-left:50px;
}