*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-position:center;
    font-family: sans-serif;
}

.menu-bar{
    background: white;
    text-align: center;  
    border-bottom-style:groove;   
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: none;
}

.menu-bar ul li a{
    text-decoration: none;
    color: black;
}

.active, .menu-bar ul li a:hover 
{
    /* background-color: white; */
    text-decoration: underline;
    color: green;
    border-radius: 3px;
}

.menu-bar .fa{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    z-index:1000;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: white;
}

.menu-bar ul li:hover .sub-menu-1 ul li a{
    color:white;
}

.fa-angle-right{
    float: right;
}

.sub-menu-2{
    display: none;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}

.menu-bar .search-container input[type=text] { 
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border:groove;
  border-style: green;
  }
  
  
  .menu-bar .search-container input[type=submit] {
    float: right;
    padding: 9px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
  .menu-bar .search-container input[type=submit]:hover {
    background: green;
  }
  
  @media screen and (max-width: 600px) {
    .menu-bar .search-container {
      float: none;
    }
    .menu-bar a, .menu-bar input[type=text], .menu-bar .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .menu-bar input[type=text] {
        border: 1px solid #ccc;   
    }
  }

  .logo img{
      float:left;
    }


    